<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>基础(模板语法)</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>
<body>
<div id="app">
    {{count}}
    {{(count+1)*10}}
    <!--   v-bind或者:绑定元素  -->
    <div class="db" :id="bg1">
        hello
        {{msg}}
    </div>

    <div v-html="template"></div>
    <!--    v-on或者@绑定方法-->
    <button type="button" @click="submit()">加数字</button>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            bg1: 'app-bind',
            msg: 'hello vue',
            count: 1,
            template: '<div>hello temolate</div>'
        }
        ,
        methods: {
            submit: function () {
                this.count++
            }
        }
    })
</script>
</html>